<div class="container" id="home-container">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center text-white" id="jumbotron">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Custom jumbotron</h1>
      <p class="fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <hr class="my-4">
      <p class="fs-4">This is a modal sheet, a variation of the modal that docs itself to the bottom of the viewport in iOS.</p>
      <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div> 

	